.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  width: 80%;
  margin: 10px auto;
}

th {
  background-color: #3ebb48;
  padding: 10px;
  border-radius: 5px;
}

td {
  padding: 12px;
}

.btn {
  background-color: #282c34;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin: 4px;

  text-transform: uppercase;
  cursor: pointer;
}

.modal {
  border: 6px solid black;
  border-radius: 10px;
  width: 50%;
  margin: auto auto;
  text-align: center;
}

.text-box {
  width: 70%;
}

.input-grp {
  padding: 10px;
  margin-top: 10px;
}

html {
  overflow: scroll;
}
